.board {
  align-items: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.game {
  background-color: #ff97cb44;
  display: flex;
  flex-wrap: wrap;
  height: 560px;
  width: 560px;

  img {
    border: 1px hotpink solid;
    height: 70px;
    width: 70px;
  }
}
