.score-board {
  background-color: #2774bd;
  border: 1px #ff69b4 solid;
  color: #ff69b4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 12px;
  text-align: center;
  width: 560px;

  button {
    background-color: transparent;
    border: 1px #ff69b4 solid;
    border-radius: 16px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
    height: 36px;
    width: 80px;
    transition: all 0.7s linear;

    &:hover {
      background-color: #ff69b4;
    }
  }
}
